<div class="card high-card">
    <div class="card-header">
        <div class="headInfo">
            <span>Motivation</span>
            <cds-icon shape="info-circle"></cds-icon>
        </div>
        <div>
            <cds-icon shape="resize"></cds-icon>
        </div>
    </div>
    <div class="card-body">
        <div class="clr-row">
            <div class="clr-col-4 flex-display">
                <app-basic-score-display [scoreNumber]="2.8" [captionText]="'Other Event Participations'"></app-basic-score-display>
            </div>
            <div class="clr-col-3 flex-display">
                <app-open-answer-list [answerList]="answerList" [captionText]="'Other Motivations'"></app-open-answer-list>
            </div>
            <div class="clr-col-5 flex-display">
                <!-- <app-basic-score-display [scoreNumber]="0.7" [captionText]="'Best possible solution'" [bestPossibleNumber]="4"></app-basic-score-display> -->
                <div class="chart-container">
                    <div class="chart-wrapper">
                        <ngx-charts-bar-horizontal 
                        [results]="barChartData"
                        [xAxis]="true"
                        [barPadding]="2"
                        [xScaleMax]="5">
                        </ngx-charts-bar-horizontal>
                    </div>
                    <h6>Motivation Distribution</h6>
                </div>
            </div>
        </div>
    </div>
</div>