<div class="card high-card">
    <div class="card-header">
        <div class="headInfo">
            <span>Motivation</span>
            <cds-icon shape="info-circle"></cds-icon>
        </div>
        <div>
            <cds-icon shape="resize"></cds-icon>
        </div>
    </div>
    <div class="card-body">
        <div class="clr-row">
            <div class="clr-col flex-display">
                <app-basic-score-display [scoreNumber]="2.8" [scoreText]="'Better Feelings'" [bestPossibleNumber]="3.2"></app-basic-score-display>
            </div>
            <div class="divider"></div>
            <div class="clr-col flex-display">
                <app-basic-score-display [scoreNumber]="0.3" [scoreText]="'Overall Motivation'" [bestPossibleNumber]="0.6"></app-basic-score-display>
            </div>
            <div class="divider"></div>
            <div class="clr-col flex-display">
                <app-basic-score-display [scoreNumber]="0.7" [scoreText]="'Best possible solution'" [bestPossibleNumber]="4"></app-basic-score-display>
            </div>
        </div>
    </div>
</div>