<div class="card" *ngIf="formData">
    <div class="card-header">
        <div class="headInfo">
            <span>Individual Programming Experience</span>
            <cds-icon shape="info-circle"></cds-icon>
        </div>
    </div>
    <div class="card-body">
        <div class="clr-row">
            <div class="clr-col-2">
                <app-basic-score-display *ngIf="formData.years !== null; else noYearsData"
                    [captionTooltip]="'Shows the average amount of programming experience in years.'" 
                    [scoreNumber]="formData.years" 
                    [captionText]="'Years of Programming experience'">
                </app-basic-score-display>
            </div>
            <div class="clr-col-2">
                <div *ngIf="formData.comparedExperience.length !== 0; else noComparedExperienceData" class="chart-container">
                    <div class="outer-chart-wrapper">
                        <div class="chart-wrapper">
                            <ngx-charts-pie-chart
                            appChartMarginRemoval
                            [results]="formData.comparedExperience"
                            [labels]="false"
                            [scheme]="'natural'">
                            </ngx-charts-pie-chart>
                        </div>
                    </div>
                    <div class="tooltip-container">
                        <clr-tooltip>
                            <h6 class="description" clrTooltipTrigger>Compared Programming experience</h6>
                            <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
                                <span>Shows the reported experience level of the participants in comparison to others as amount of calls.</span>
                            </clr-tooltip-content>
                        </clr-tooltip>
                    </div>
                </div>
            </div>
            <div class="clr-col-4">
                <app-comparison-average-sd-list *ngIf="formData.ability.length > 0; else noAbilityData"
                    [answerList]="formData.ability"
                    [captionText]="'Percieved ABILITY at language'"
                    [captionTooltip]="'Shows the average reported ability in the specific language.'">
                </app-comparison-average-sd-list>
            </div>
            <div class="clr-col-4">
                <app-comparison-average-sd-list *ngIf="formData.comfort.length > 0; else noComfortData"
                    [answerList]="formData.comfort"
                    [captionText]="'Percieved COMFORT at language'"
                    [captionTooltip]="'Shows the average reported comfort in using the specific language.'"
                    [tooltipLeft]="true">
                </app-comparison-average-sd-list>
            </div>
        </div>
    </div>
</div>

<ng-template #noYearsData>
    <app-no-data
    [captionTooltip]="'Shows the average amount of programming experience in years.'" 
    [captionText]="'Years of Programming experience'">
    </app-no-data>
</ng-template>
<ng-template #noComparedExperienceData>
    <app-no-data
    [captionTooltip]="'Shows the reported experience level of the participants in comparison to others as amount of calls.'"
    [captionText]="'Compared Programming experience'">
    </app-no-data>
</ng-template>
<ng-template #noAbilityData>
    <app-no-data
    [captionText]="'Percieved ABILITY at language'"
    [captionTooltip]="'Shows the average reported ability in the specific language.'">
    </app-no-data>
</ng-template>
<ng-template #noComfortData>
    <app-no-data
    [captionText]="'Percieved COMFORT at language'"
    [captionTooltip]="'Shows the average reported comfort in using the specific language.'"
    [tooltipLeft]="true">
    </app-no-data>
</ng-template>