<div class="card">
    <div class="card-header">
        <div class="headInfo">
            <span>Team Composition</span>
            <cds-icon shape="info-circle"></cds-icon>
        </div>
    </div>
    <div class="card-body">
        <div class="clr-row">
            <div class="clr-col-7">
                <div class="chart-container">
                    <div class="chart-wrapper">
                        <ngx-charts-bar-vertical-2d [results]="barChartData" [xAxis]="true" [barPadding]="4"
                            [yScaleMax]="100" [showYAxisLabel]="false" [yAxis]="true" [trimYAxisTicks]="false"
                            [scheme]="'natural'">
                        </ngx-charts-bar-vertical-2d>
                    </div>
                    <clr-tooltip>
                        <h6 class="description" clrTooltipTrigger>Basic Information</h6>

                    </clr-tooltip>

                </div>
            </div>
            <div class="clr-col-5">
                <div class="pie-chart-container">
                    <div class="pie-outer-chart-wrapper">
                        <div class="pie-chart-wrapper">
                            <ngx-charts-pie-chart appChartMarginRemoval [results]="pieChartData" [labels]="false"
                                [scheme]="'natural'" [doughnut]="true" [arcWidth]="1" [legend]="true"
                                [legendTitle]="''" [legendPosition]="right" >
                            </ngx-charts-pie-chart>
                        </div>
                    </div>
                        <clr-tooltip>
                            <h6 class="description" clrTooltipTrigger>Team Members Familiarity</h6>

                        </clr-tooltip>
                    </div>
                </div>
        </div>
    </div>
</div>

