<div class="main-container">
    <header class="header 6">
        <div class="branding"><div class="title">Dashathon</div></div>
        <div class="header-actions">
            <a [routerLink] class="nav-link nav-icon" aria-label="settings">
              <cds-icon shape="cog"></cds-icon>
            </a>
        </div>
    </header>

    <div class="content-container">
        <div class="content-area">
            <div class="grid-container">
                <app-motivation-widget></app-motivation-widget>
                <app-motivation-widget></app-motivation-widget>
                <app-motivation-widget></app-motivation-widget>
                <app-motivation-widget></app-motivation-widget>
            </div>
        </div>
    </div>
</div>