.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div[class^="clr-col"] {
    height: 100%;
    padding: 0 .3rem 0 .3rem;
}

.clr-row {
    height: calc(100% / 3 - 6px);
}

.btn {
    font-size: 0.8vw;
    width: 100%;
    height: 30%;
    word-wrap: break-word;
    text-overflow: initial;
    word-break: keep-all;
    white-space: normal;
    text-align: center;
    line-height: normal;
    text-transform: none;
    letter-spacing: normal;
    color: #4d4d4d;
}

.btn-primary {
    background-color: rgb(165, 215, 198);
    border-color: rgb(165, 215, 198);
}

:hover .btn-primary {
    background-color: rgb(165, 215, 198);
    border-color: rgb(165, 215, 198);
    color: #4d4d4d;
}

.button-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem .5rem 1.5rem .5rem !important;
    height: 100%;
    width: 100%;
}

.border {
    box-shadow: 0px -10px 0px -9px lightgray;
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: .5rem;

        h5 {
            margin: 0;
            width: fit-content;
            color: white;
        }
    }

    ::ng-deep .clr-form-control {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: .5rem;
        width: 15rem;
    }

    ::ng-deep .clr-control-container, #uuidInput {
        width: 100%;
    }

    .btn-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .btn {
            background-color: rgb(165, 215, 198);
            border-color: rgb(165, 215, 198);
            height: 1.7rem;
            width: 1.7rem;
            padding: .2rem;
            margin: 0;
        }

        cds-icon {
            color: black;
            align-items: center;
        }
    }
}

.clr-input {
    color: white;
}

.header-actions {
    padding-right: 1rem;
}

.spinner-wrapper-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.spinner-wrapper-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}